<p>vehicles works!</p>
<input type="text" placeholder="search" [(ngModel)]="term">
<button class="blue-button" (click)="filterVehicles()">search</button>
<button class="blue-button" (click)="getVehiclesWithParams()">search2</button>
<button class="blue-button" (click)="getVehiclesWithParams()">sort2</button>


<label for="">Column</label>
<select [(ngModel)]="column">
    <option value="color">Color</option>
    <option value="fuel">Fuel</option>
    <option value="model">Model</option>

</select>


<label for="">Order</label>
<select [(ngModel)]="order">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>

</select>

<button class="blue-button" (click)="sortVehicles()">sort</button>


<table>
    <thead>
        <tr>
            <th>Vehicles</th>
            <th>manufacturer</th>
            <th>Model</th>
            <th>Type</th>
            <th>Fuel</th>
            <th>Color </th>
            <th>Image</th>
            <!-- <th>Cost</th>
            <th>Tyres</th> -->
            <th>Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td>
                <img [src]="vehicle.image" alt="" width="100px" height="100px">
            </td>
            <!-- <td>{{vehicle.cost}}</td>
            <td>{{vehicle.tyres}}</td> -->
            <td>{{vehicle.id}}</td>
            <td>
                <button class="blue-button" routerLink="/dashboard/vehicle-details/{{vehicle.id}}">view</button>
                <button class="red-button" (click)="deleteVehicle(vehicle.id)">"delete" </button>
            </td>

        </tr>
    </tbody>
    
</table>



<button   
    class="yellow-button"
    (click)="pageVehicles(i+1)"
    *ngFor="let page of [].constructor(10); let i=index" >
  
    {{i+1}}
</button>
<hr>


<button   
    class="green-button"
    (click)="getVehiclesWithParams(i+1)"
    *ngFor="let page of [].constructor(10); let i=index" >
  
    {{i+1}}
</button>





<!--  {
    "Vehicle": "Toyota Alpine",
    "manufacturer": "Mazda",
    "model": "Expedition",
    "type": "Extended Cab Pickup",
    "fuel": "Gasoline",
    "color": "maroon",
    "image": "https://loremflickr.com/1574/3?lock=1685096460914026",
    "cost": "248.49",
    "tyres": 81,
    "id": "3"
  }, -->