<div class="parent">
    <div class="left">
        <div class="logo">My Website</div>
        <h1 routerLink="home">home</h1>
        <h1 routerLink="welcome">welcome to hyd</h1>
        <h1 routerLink="data-binding">Data Binding</h1>
        <h1 routerLink="directives">Directives</h1>
        <h1 routerLink="pipes">Pipes</h1>
        <h1 routerLink="users">users</h1>
        <h1 routerLink="products">products</h1>
        <h1 routerLink="vehicles">vehicles</h1>
        <h1 routerLink="accounts">accounts</h1>
        <h1 routerLink="flipkart">flipkart</h1>
        <h1 routerLink="mail">mail</h1>
        <h1 routerLink="weather">weather</h1>
        <h1 routerLink="create-vehicle">create-vehicle</h1>
        <h1 routerLink="create-user">create-user</h1>
        <h1 routerLink="parent">parent</h1>
        <h1 routerLink="items">items</h1>
        <h1 routerLink="nav">nav</h1>
        <h1 routerLink="cart">cart</h1>
        <h1 routerLink="contact-sales">contact sales</h1>
        <h1 routerLink="payment/upi">upi</h1>
        <h1 routerLink="payment/card">card</h1>
        <h1 routerLink="form-task">form-task</h1>

        <button (click)="logout()">logout</button>
    </div>
    <div class="right">
         <router-outlet></router-outlet>
        
    </div>
</div>
