<div class="parent">
    <div class="left">
        <div class="logo">My Website</div>
        <h1 routerLink="home">home</h1>
        <h1 routerLink="welcome">welcome to hyd</h1>
        <h1 routerLink="data-binding">Data Binding</h1>
        <h1 routerLink="directives">Directives</h1>
        <h1 routerLink="pipes">Pipes</h1>
        <h1 routerLink="users">users</h1>
        <h1 routerLink="products">products</h1>
        <h1 routerLink="vehicles">vehicles</h1>
        <h1 routerLink="accounts">accounts</h1>
        <h1 routerLink="flipkart">flipkart</h1>
        <h1 routerLink="mail">mail</h1>

        <button routerLink="/login">logout</button>
    </div>
    <div class="right">
         <router-outlet></router-outlet>
        
    </div>
</div>
