<p>home works!</p>

<h1>BOOTSTRAP </h1>

<!-- BOOTSTRAP -->
<!-- for button -->

<button class="btn btn-primary">LOGIN</button> 
<button class="btn btn-secondary">Secondary</button>
<button class="btn btn-success">Success</button>
<button class="btn btn-danger">Danger</button>

<!-- for the below outline is to work like a hover -->
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>
